@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* この下に、自作CSS */
@theme {
    --color-brand-primary: #ff8c00;
    --color-brand-secondary: #150029;
    --font-baloo: "Baloo Chettan 2", Inter, sans-serif;
}