/* @import "tailwindcss"; */

/* --- 宇宙の背景画像の設定 --- */
body {
    background-image:
        linear-gradient(to right,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 35%,
            rgba(0, 0, 0, 0) 65%,
            rgba(0, 0, 0, 1) 100%),
        url('../images/ivana-cajina-asuyh-_ZX54-unsplash.jpg');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #000000;
    background-repeat: no-repeat;
}

.main-content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    width: 100%;
    padding: 10px 0;
}

.header-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 16px;
}

.footer {
    margin-top: 20px !important;
    padding: 20px 0 !important;
}

