.orange-button {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 0 50px;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    background: transparent;
    border: 2px solid #ff8c00;
    color: #ff8c00;
    border-radius: 30px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(255, 140, 0, 0.4),
        0 0 20px rgba(255, 140, 0, 0.2);
    text-shadow: 0 0 8px rgba(255, 140, 0, 0.6);
}

.submit-btn:hover {
    background: rgba(255, 140, 0, 0.2);
    box-shadow: 0 0 20px rgba(255, 140, 0, 0.6),
        0 0 40px rgba(255, 140, 0, 0.3);
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.submit-nav {
    color: #ff8c00;
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.4s ease;
    cursor: pointer;
    position: relative;
    text-shadow: 0 0 5px rgba(255, 140, 0, 0.3);
}

.submit-nav:hover {
    color: #ffffff;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
        0 0 15px rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-bottom: 2px;
}

