@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* --- 宇宙の背景画像の設定 --- */
body {
    background-image:
        linear-gradient(to right,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 35%,
            rgba(0, 0, 0, 0) 65%,
            rgba(0, 0, 0, 1) 100%),
        url('../images/diego-ph-5LOhydOtTKU-unsplash.jpg');

    background-size: cover;
    background-position: center 90%;
    background-attachment: fixed;
    background-color: #000000;
    background-repeat: no-repeat;
}

/* 全体のコンテナを中央寄せ */
.auth-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
}

.main-logo {
    width: 400px;
}

.email-verification-text {
    font-size: 22px;
    letter-spacing: 0.2rem;
}

.orange-button {
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 0 50px;
}

/* 登録ボタン（オレンジの枠線） */
.submit-btn {
    width: 100%;
    padding: 20px 40px;
    margin-top: 50px;
    background: transparent;
    border: 2px solid #ff8c00;
    color: #ff8c00;
    border-radius: 70px;
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(255, 140, 0, 0.4),
        0 0 20px rgba(255, 140, 0, 0.2);
    text-shadow: 0 0 8px rgba(255, 140, 0, 0.6);
}

.submit-btn:hover {
    background: rgba(255, 140, 0, 0.2);
    box-shadow: 0 0 20px rgba(255, 140, 0, 0.6),
        0 0 40px rgba(255, 140, 0, 0.3);
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.orange-nav {
    margin-top: 50px;
    letter-spacing: 0.2rem;
}

.submit-nav {
    color: #ff8c00;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.4s ease;
    cursor: pointer;
    position: relative;
    text-shadow: 0 0 5px rgba(255, 140, 0, 0.3);
}

.submit-nav:hover {
    color: #ffffff;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
        0 0 15px rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-bottom: 2px;
}

/* --- レスポンシブ対応 --- */

/* PCサイズ（1400〜1540px） */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .main-logo {
        width: 500px;
    }
}

/* タブレットサイズ（768〜850px） */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .main-logo {
        width: 300px;
    }

    .email-verification-text {
        font-size: 18px;
        letter-spacing: 0.2rem;
    }

    .orange-button {
        width: 300px;
    }

    /* 登録ボタン（オレンジの枠線） */
    .submit-btn {
        font-size: 20px;
    }
}